Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.1.0
pycrypto==2.6.1
pyDes==2.0.1
python-socketio==4.2.0
requests==2.22.0
# qi
pympler==0.9
# qi 提高异步服务性能
# dnspython==1.16.0 
# eventlet==0.29.0 
# greenlet==0.4.17 
# monotonic==1.5
