<!DOCTYPE html>
<!-- <html> -->
<html>
<head>
  <meta charset="utf-8" />
  <title>访问卫星网页界面</title>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/socket.io.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">

<style>

    #background{
      background-color: #8dc63f;
      width: 100%;
      height: 100%;
      min-height: 100%;
      color: #fff;
      margin-top: 300px;
    }

    #page{
      font-size: 112px;
      font-weight: bold;
      line-height: 1;
    }

</style>

</head>
	<body id="background">
			<div>
				<div class="container">
					<div class="clearfix">
						<img src="static/error.png" style="width:600px;height:520px;float:right;margin-bottom:100px">
						<div>
              <div id="page">用户认证失败<span>!</span></div>
							<h2>不可访问卫星相关资源！</h2>
						</div>
					</div>
				</div>
			</div>

</body>

</html>
