<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title></title>
</head>

<body>
    <!-- 详细信息模态框（Modal） -->
    <div class="modal fade" id="startAuth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">认证选项</h4>
                </div>
                <form action="/" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">hash算法</label>
                            <select class="form-control" id="hashOption" name="hashOption">
                                <option value="SHA1">SHA1</option>
                                <option value="SHA256">SHA256</option>
                                <option value="SHA512">SHA512</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">加密算法</label>
                            <select class="form-control" id="keyOption" name="keyOption">
                                <option value="AES">AES</option>
                                <option value="DES">DES</option>
                                <option value="3DES">3DES</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">随机数长度</label>
                            <select class="form-control" id="keyOption" name="keyOption">
                                <option value="128">短</option>
                                <option value="160" selected = "selected">较长</option>
                                <option value="256">长</option>
                            </select>
                        </div>
                        <!-- <div class="input-group">
                            <span class="input-group-addon">随机数种子</span>
                            <input type="text" class="form-control" placeholder="请输入随机数种子" id="randomSend"
                                name="randomSend">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">随机数长度</span>
                            <input type="text" class="form-control" placeholder="请输入随机数长度" id="randomLenth"
                                name="randomLenth">
                        </div> -->
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isZip" name="isZip">是否压缩
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="queryInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        认证结果
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>字段</th>
                                <th>信息</th>
                            </tr>
                        </thead>
                        <tbody id="authMessage">
                            <!-- <tr>
                                <td>sessionId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>sessionKey</td>
                                <td>580ade0f132b4228ea4fe1a289f318f2402fdcd2682ed057a3785fed4312f9f3</td>
                            </tr>
                            <tr>
                                <td>MACKey</td>
                                <td>55868018469076085065818153351715</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="sate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        卫星认证信息
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>字段</th>
                                <th>信息</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>sateId</td>
                                <td>06fa43a4b4a63b622e36e3cd4ef55fcfec070b97</td>
                            </tr>
                            <tr>
                                <td>sateKey</td>
                                <td>580ade0f132b4228ea4fe1a289f318f2402fdcd2682ed057a3785fed4312f9f3</td>
                            </tr>
                            <tr>
                                <td>preRandom</td>
                                <td>55868018469076085065818153351715</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户认证信息
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>字段</th>
                                <th>信息</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>userId</td>
                                <td>ff4b43ede3bfdaa52ea7f97593f8897fd9a41645</td>
                            </tr>
                            <tr>
                                <td>userKey</td>
                                <td>124640bf2792a0cdce2c04e13326d6bf013bac6ce546616b0488e7c4e68631</td>
                            </tr>
                            <tr>
                                <td>preRandom</td>
                                <td>93103486375219430322734306483245</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- <?xml version="1.0" encoding="utf-8"?> -->
    <div class="container" style="width:100%; height:100%;">
        <div class="panel panel-default">
            <div id="ico1" data-toggle="modal" data-target="#user">
                <img src="../static/user.png" alt="用户" id="user" width="60%" height="60%">
                <!-- user -->
            </div>
            <div id="ico2" data-toggle="modal" data-target="#sate">
                <img src="../sate.png" alt="卫星" width="60%" height="60%">
                <!-- satellite -->
            </div>
            <div id="ico3">
                <img src="../static/ncc.png" alt="NCC" width="60%" height="60%">
                <!-- ncc -->
            </div>
            <style type="text/css">
                #ico1 {
                    position: absolute;
                    left: 20%;
                    top: 60%
                }

                #ico2 {
                    position: absolute;
                    left: 47%;
                    top: 20%
                }

                #ico3 {
                    position: absolute;
                    left: 75%;
                    top: 60%
                }
            </style>
            <svg class="svg1" version="1.1" id="svg_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1334 615"
                style="enable-background:new 0 0 1334 622; " xml:space="preserve">

                <style type="text/css">
                    .st1 {
                        fill: #FFFFFF;
                        stroke: #000000;
                        stroke-dasharray: 20;
                    }

                    .path {

                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                        stroke: #34a4e4;
                        stroke-width: 4px;
                        animation: dash 10s linear forwards;

                    }

                    .path1 {
                        transition: all 5s;
                    }

                    @keyframes dash {
                        from {
                            stroke-dashoffset: 1000;
                        }

                        to {
                            stroke-dashoffset: 0;
                        }
                    }
                </style>
                <line class="st0 path" id="line1" x1="380" y1="380" x2="600" y2="220" />
                <line class="st0 path" id="line2" x1="600" y1="220" x2="380" y2="380" />
                <line class="st0 path" id="line3" x1="720" y1="220" x2="1000" y2="400" />
                <line class="st0 path" id="line4" x1="1000" y1="400" x2="720" y2="220" />

                <!-- <line class="st1" x1="536" y1="474" x2="754.7" y2="186" /> -->
            </svg>
            <div>
                <button type="button" class="btn btn-primary btn-lg" onclick="authMessage()">认证选项</button>
                <button type="button" class="btn btn-success btn-lg" onclick="lineRun()">开始认证</button>
                <button id="disab1" type="button" class="btn btn-info btn-lg" onclick="query()" disabled="disabled">认证结果</button>
                <button id="disab2" type="button" class="btn btn-success btn-lg" onclick="imgLoad()"
                    disabled="disabled">安全传输</button>
            </div>
        </div>
        <script>

            // 控制line的路径展示
            var line1 = document.getElementById("line1");
            var line2 = document.getElementById("line2");
            var line3 = document.getElementById("line3");
            var line4 = document.getElementById("line4");
            line1.parentNode.removeChild(line1);
            line2.parentNode.removeChild(line2);
            line3.parentNode.removeChild(line3);
            line4.parentNode.removeChild(line4);
            // runLine();

            function authMessage() {
                // // 通知用户发起认证
                // $.get("http://127.0.0.1:8888/userAuth");

                $('#startAuth').modal('show');
                // 点击开始认证，向用户发起认证，触发线条运动
                $("#btn-toAuth").click(function () {
                    console.log("test");
                    // console.log($("#form-test"));
                });
            }



            function lineRun() {
                // 通知用户发起认证
                var url = "http://127.0.0.1:8888/userAuth";
                $("#disab1").attr("disabled",false);
                $("#disab2").attr("disabled",false);
                $.get(url, function (data) {
                    if (data == "1") {
                        // 将认证结果 安全传输按钮恢复
                        $("#disab1").attr("disabled",false);
                        $("#disab2").attr("disabled",false);
                        console.log("认证成功。。。");
                    } else {
                        console.log("认证失败。。。");
                    }
                });

                // 触发线条运动
                var svg = document.getElementById("svg_1");
                svg.appendChild(line1);
                setTimeout(function () {
                    line1.parentNode.appendChild(line3);
                    setTimeout(function () {
                        line1.parentNode.removeChild(line1);
                        line3.parentNode.appendChild(line4);
                        line3.parentNode.removeChild(line3);
                        setTimeout(function () {
                            line4.parentNode.append(line2);
                            setTimeout(function () {
                                line4.parentNode.removeChild(line4);
                                line2.parentNode.removeChild(line2);
                            }, 4000)
                        }, 3000)
                    }, 3500);
                }, 3000);
            }

            function imgLoad() {
                var url = "http://127.0.0.1:2333/reqImg";
                $.get(url, function (data) {
                    if (data == "1") {
                        alert("传输成功。。。")
                        console.log("传输成功。。。");
                    } else {
                        alert("传输失败。。。")
                        console.log("传输失败。。。");
                    }
                });
            }

            // 获取认证结果
            function authResult() {
                var url = "http://127.0.0.1:2333/authResult";
                $.get(url, function (data) {
                    if (data != "{}") {
                        console.log(data);
                    } else {
                        console.log("认证失败。。。");
                    }
                });
            }

            function query() {
                $.ajax({
                    url: "http://127.0.0.1:2333/authResult",
                    async: true,
                    type: "GET",
                    // 成功后开启模态框
                    success: showQuery,
                    error: function () {
                        alert("请求失败");
                    },
                    dataType: "json"
                });
            }

            // 查询成功后向模态框插入数据并开启模态框。data是返回的JSON对象
            function showQuery(data) {
                if (data != "{}") {
                    console.log(data.sessionId);
                    $("#authMessage").html(
                        "<tr><td>sessionId</td>"
                        + "<td>" + data.sessionId + "</td></tr>"
                        + "<tr><td>sessionKey</td>"
                        + "<td>" + data.sessionKey + "</td></tr>"
                        + "<tr><td>MACKey</td>"
                        + "<td>" + data.MACKey + "</td></tr>"
                    );

                    // 显示模态框
                    $('#queryInfo').modal('show');
                } else {
                    console.log("认证失败。。。");
                }

            }

        </script>
        <